@font-face {
  font-family: 'BarbarianNS';
  src: url('./assets/BarbarianNS.ttf')
}
@font-face {
  font-family: 'JMH';
  src: url('./assets/jmh.ttf');
}

body {
  background-color: black;
  color: darkred;
  margin: 10px 50px;
}
h1 {
  padding: 15px;
  margin: 15px;
  text-align: center;
  font-family: 'BarbarianNS';
  font-size: 75px;
  color: darkred;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: darkred;
}

#canvas-layers {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

canvas {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
#bg-layer {
  z-index: 2;
}
#game-layer {
  z-index: 3;
}
#menu-layer {
  z-index: 1;
}
img {
  display: none;
}