@font-face {
  font-family: 'Barbarian';
  src: url('./assets/Barbarian.ttf')
}
@font-face {
  font-family: 'Souls';
  src: url('./assets/GaramondBold.ttf')
}
body {
  background-color: black;
  color: darkred;
  margin: 10px 50px;
}
h1 {
  font-family: 'Souls';
  font-size: 40px;
  padding: 0;
  text-align: center;
}
canvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
#bg-layer {
  z-index: 2;
}
#game-layer {
  z-index: 3;
}
#menu-layer {
  z-index: 1;
}
img {
  display: none;
}